.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  max-height: 30vh;
  width: 95%;
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  background-color: blue;
  border-radius: 10px;
}

.home-nav, .login-div {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.search-form {
  min-height: 100vh;
  width: 25%;
  background-color: yellow;
  border-radius: 10px;
}

.login-form {
 max-height: 30vh;
 width: 20%;
 background-color: yellow;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}

main {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.favorites-container {
  overflow: hidden;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  min-height: 30vh;
  width: 30vh;
  flex: 1 0 25%;
  border: grey solid 2px;
  border-radius: 8px;
  margin: 15px;
  text-align: center;
}