@font-face {
  font-family: "Source Sans Pro";
  src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap")
}

.App {
  text-align: center;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.login-div {
  width: 50%;
}

a:hover {
  background-color: FFC602;
}

.nav-links {
  font-size: 20px;
  display: inline;
  color: #a8d0e6;
  float: right;
  margin: 70px 20px 70px 20px;
}

a {
  text-decoration: none;
}

.a-search {
  font-size: 35px;
  color: #a8d0e6;
}

a:focus {
  text-decoration: none;
  color: lightgrey;
}

header {
  background-color: white
}

.logo {
  width: 100px;
  color: #F2B54a
}

.logo-lockup {
  display: flex;
  margin: 10px 0px 10px 48px;
}

h1 {
  color: #FFC602;
  font-size: 60px;
  margin: 10px 10px 10px 10px;
}

.App-link {
  color: #61dafb;
}

nav {
  max-height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  background-color: white;
}

.main-container {
  display: flex;
  background-color: #23305E;
}

input {
  font-size: 16px;
  padding: 5px 5px 5px 5px;
}

.search-form {
  min-height: 100vh;
  display: flex;
  min-width: 25vw;
  background-color: #39424E;
  margin: 0px 00px 0px 0px;
  justify-content: center;
  padding-top: 10px
  /* border-radius: 10px; */
}

.search-form-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 80%;
  /* width: 325px; */
}

main {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.favorites-container {
  overflow: hidden;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.login-form-container{
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.logged-in-header-nav {
  font-size: 20px;
  display: inline;
  color: #a8d0e6;
  /* margin: 10px 50px 0px 20px; */
}